[submodule "CMake"]
	path = CMake
	url = git@github.com:suryakiran/CMakeScripts.git
[submodule "Global"]
	path = Global
	url = git@github.com:suryakiran/Global.git
[submodule "PythonModules"]
	path = PythonModules
	url = git@github.com:suryakiran/PythonModules.git
