[submodule "CMake"]
	path = CMake
	url = git@github.com:suryakiran/CMakeScripts.git
[submodule "PerlModules"]
	path = PerlModules
	url = git@github.com:suryakiran/PerlModules.git
[submodule "Global"]
	path = Global
	url = git@github.com:suryakiran/Global.git
