QPushButton {
    outline: none;
}

QPushButton:enabled {
    background-color: #204a87;
}

QPushButton:disabled {
    background-color: #888a85;
    color: #555753;   
}

QPushButton[flat = "true"]:pressed, QPushButton[flat = "true"]:checked {
    outline: none ;
    border: none ;
    background-color: #d3d7df ;
    color: #2e3436;
    border-radius: 6px ;
}

QAbstractItemView {
    alternate-background-color: #2e3436;
    selection-background-color: #fcaf3e;
    selection-color:#2e3436;
}

QHeaderView {
    color: #fcaf3e;
}

QHeaderView::section {
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, 
                                     stop: 1 #555753 stop: 0 #2e3436);
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding-left: 5px;
}

QLineEdit:read-only {
    background-color: #555753;
    color: #babdb6;
    border: 1px solid #2e3436;
}

QLineEdit {
    background-color: #d3d7cf;
    border-radius: 3px;
    color: #2e3436;
}

QScrollBar {
    background-color: none;
    color: #a40000;
}

QGroupBox::title {
    color: #8ae234;
}

QProgressBar {
    border: 1px solid gray;
    border-radius: 5px ;
    background: white;
    padding: 1px;
    text-align: center ;
}

QProgressBar::chunk{
    background-color: #508bcc;
    width: 5px;
}

QToolBox::tab:selected{
    font: bold ;
    color: #8ae234;
}

QToolTip {
    color: brown ;
    background-color: #ffeedd ;
    padding: 1px ;
}

* {
    background-color: #555753;
    color: #eeeeec;
}