QAbstractItemView {
    background: #eeeeff;
    alternate-background-color: #a5c1e4;
    selection-background-color: #181291;
    selection-color: #ffffff;
}

QLineEdit {
    background-color: #ffeedd;
}

QLineEdit:read-only {
    background-color: #eeeeee;
}

QProgressBar {
    border: 1px solid gray;
    border-radius: 5px ;
    background: white;
    padding: 1px;
    text-align: center ;
}

QProgressBar::chunk{
    background-color: #508bcc;
    width: 5px;
}

QToolBox::tab:selected{
    font: bold ;
}

QToolTip {
    color: brown ;
    background-color: #ffeedd ;
    padding: 1px ;
}

QPushButton:checked {
    background-color: #a5c1e4 ;
    border: none ;
    border-radius: 6px ;
}

QPushButton {
    outline: none ;
}

QPushButton#docButton:pressed {
    outline: none ;
    background-color: #a5c1e4 ;
    border: none ;
    border-radius: 6px ;
}

QPushButton#musicButton:pressed {
    outline: none ;
    background-color: #a5c1e4 ;
    border: none ;
    border-radius: 6px ;
}

QMainWindow {
    background-color: #eeeeff ;
}